node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
build/
.cache/
.next/
out/
coverage/
.babel-cache/
.env
.env.*
!.env.example
!.env.sample